body{
	background-color: ;
}
#about_me{
	position: relative;
	margin-left: 33px;
	bottom: 356px;
}
p{
	width: 300px;
  text-justify: inter-word;
	position: relative;
	margin-left: 10px;
	bottom: 367px;
}
#name{
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
}
.list{
	list-style: none;
	position: relative;
	margin-left: 1110px;
	bottom: 15px;
}
#Interests{
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	position: relative;
	margin-left: 1120px;
	bottom: ;
}
#Skills{
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	position: relative;
	margin-left: 1120px;
	bottom: ;
}
.Tech{
	list-style: none;
	position: relative;
	margin-left: 1110px;
	bottom: 15px;
}
#Skills{
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	position: relative;
	margin-left: 1120px;
	bottom: ;
}
.Learn{
	list-style: square;
	position: relative;
	margin-left: -1px;
	bottom: 361px;
}
#EDU{
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	position: relative;
	margin-left: 15px;
	bottom: 350px;
}
.JSS{
	list-style: square;
	position: relative;
	margin-left: -1px;
	bottom: 361px;
	}
.MMP{
	list-style: square;
	position: relative;
	margin-left: -1px;
	bottom: 361px;
}
.SDA{
	list-style: square;
	position: relative;
	margin-left: -1px;
	bottom: 361px;
}
.foot{
	text-align: center;
}
#Lingo{
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	position: relative;
	margin-left: 1120px;
	bottom: 420px;
}
.lang{
	list-style: none;
	position: relative;
	margin-left: 1110px;
	bottom: 430px;
}
