body{
	background: url("file:///C:/Users/Packard%20Bell/Documents/Projects/Lee-s_Bio/Images/Mountain_Stars.jpg");
	background-size: cover;
	width: 100%;
}
h2{
	text-align: center;
}
#logo{
	margin-left: 499px;
	position: fixed;
  bottom: 389px;
	color: white;
}
#brief{
	color: white;
	margin-left: 499px;
	position: fixed;
  bottom: 379px;
}
button {
  position: fixed;
  bottom: -400px;
  margin-left: 900px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  display: inline-block;
  position: relative;
  border: 2px solid transparent;
  width: 100%;
  height: 3.3333em;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 3.3333em;
  vertical-align: middle;
  color: black;
  z-index: 1;
  overflow: hidden;
  background: transparent;
  width: 120px;
  color: white;
}


/**
* HORIZONTAL-FLIP-HOVER
**/
.horizontal-flip-hover {
  text-indent: -100em;
  font-size: 300%;
}

.horizontal-flip-hover:before,
.horizontal-flip-hover:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: 0;

  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.horizontal-flip-hover:before {
  content: attr(data-front);
  z-index: 2;
  background: transparent;
  color: white;
}

.horizontal-flip-hover:hover:before {
  z-index: 1;
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.horizontal-flip-hover:after {
  content: attr(data-back);
  z-index: 1;
  -webkit-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  background: rgba(0,0,0,.5);
}

.horizontal-flip-hover:hover:after {
  z-index: 2;
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
